.botao {
    padding: 18px 36px;
    background: linear-gradient(135deg,rgb(210, 133, 0),rgb(196, 180, 0));
    display: inline-block;
    border-radius: 5px;
    color: #111;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
    max-width: max-content;
    white-space: nowrap;
}

.botao:hover {
    background: #e90;
}
.botao-prata {
    padding: 18px 36px;
    background: #444;
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    white-space: nowrap;
    font-size: 20px;
    max-width: max-content;
}

.botao-prata:hover {
    background: #777;
}

img {
    border-radius: 4px;
    max-width: 100%;
}

.ponto-span {
    color: #fb0;
}

.container {
    max-width: 1200px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.prata {
    color: #777;
}

.ouro {
    color:#e90
}

.titulo {
    padding: 40px 20px;
}

.titulo p {
    font-size: 24px;
    padding-bottom: 20px;
    color: #777;
}

.titulo h1 {
    font-size: 64px;
    color: white;
}
