.bikes-bg {
    background-color: #111;
}

.bicicletas-img img {
    max-width: 100%;
    object-fit: cover;
}

.bicicletas-img {
    position: relative;
}

.bicicletas-img span {
    background-color: #111;
    color: white;
    position: absolute;
    border-radius: 5px 0px 0px 5px;
    right: 0px;
    padding: 10px;
    top: 20px;
}

.bicicleta-bg {
    color: white;
    background-image: linear-gradient(to right, white 30%, #111 30%);
}

.bicicleta {
    display: flex;
    gap: 40px;
    padding: 50px 20px;
}

.bicicleta-conteudo h2 {
    font-size: 36px;
    grid-column: 1/-1;
}

.bicicleta-conteudo h2::before {
    content: '';
    width: 16px;
    height: 8px;
    display: block;
    margin-left: 2px;
    margin-bottom: 6px;
    background-color: #fb0;
}

.bicicleta-conteudo {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
}

.bicicleta-conteudo p {
    grid-column: 1/-1;
    font-size: 18px;
    color: #777;
}

.bicicleta-conteudo ul {
    grid-column: 1;
    font-size: 18px;
    align-content: end;
}

.bicicleta-conteudo a {
    align-self: end;
    display: flex;
    align-items: center;
}

.bicicleta-conteudo ul li img {
    height: 24px;
    width: 24px;
}

.bicicleta-conteudo ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.seta::after {
    content: "";
    display: inline-block;
    background-image: url(icones/seta.svg);
    width: 18px;
    height: 10px;
    margin-left: 5px;
    transition: .3s;
}

.seta:hover:after {
    transform: translateX(5px);
}

@media (max-width:800px) {
    .bicicleta {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
}
    .titulo p {
        font-size: 20px;
}
    .titulo h1 {
        font-size: 32px;
}
    .bicicleta-bg {
        background-image: linear-gradient(to right, #111 30%, #111 30%);
}
    .bicicleta-conteudo ul {
        display: grid;
        grid-column: 1/-1;
        grid-template-columns: 1fr 1fr;
}
    .bicicleta-conteudo ul li {
        font-size: 16px;
    }
}