.footer-bg {
    background-color: black;
}

.footer {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    padding: 60px 20px;
    gap: 40px;
    color: #aaa;
}

.footer h3 {
    padding-bottom: 20px;
    font-size: 24px;
}

.footer a {
    color: #aaa;
}

.footer a:hover {
    color: white;
}

.footer p {
    grid-column: 1;
    grid-row: 3;
}

.footer-info li {
    grid-column: 3;
    grid-row: 1;
    padding-bottom: 20px;
    font-size: 20px;
}

.footer-redes  {
    grid-column: 2;
    grid-row: 2;
}

.footer-redes ul {
    display: flex;
    gap: 20px;
}

.footer-contato li {
    padding-bottom: 20px;
    font-size: 20px;
}

.footer-contato li:nth-child(even):after {
    content: '';
    display: block;
    max-width: 360px;
    height: 2px;
    background-color: #444;
    margin-top: 18px;
}

@media (max-width:680px) {
    .footer {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 20px;
}
    .footer-contato {
        grid-column: 1;
}
    .footer-redes {
        grid-column: 1;
        grid-row: 3;
}
    .footer p {
        grid-row: 5;
    }
}