.termo-conteudo {
    padding-top: 60px;
    padding-bottom: 40px;
}

.termo-bg {
    background-color: #111;
}

.termo-conteudo h2 {
    padding-bottom: 30px;
}

.termo-conteudo p {
    padding-bottom: 20px;
}

@media (max-width:800px) {
    .titulo h1 {
        font-size: 32px;
}
    .titulo p {
        font-size: 20px;
        padding-bottom: 10px;
} 
}