.tec-bg {
    background-color: #111;
    margin-top: 20px;
    box-shadow: inset 0px 100px white, inset 0px -100px white;
}

.tec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    gap: 40px;
    padding: 20px 0px;
}

.tec-conteudo {
    margin-top: 200px;
}

.tec-conteudo h3 {
    color: #777;
    font-size: 30px;
}

.tec-conteudo h2 {
    margin-top: 50px;
    font-size: 64px;
}

.tec-txt {
    margin: 40px 0px;
    color: #aaa;
    font-size: 24px;
    line-height: 36px;
}

.tec-conteudo a {
    color: #fb0;
    font-size: 30px;
    border-bottom: 4px solid #fb0;
    transition: .3s;
}

.tec-conteudo a:hover {
    color: #fff;
    border-bottom: 4px solid #fff;
}

.tec-div {
    display: flex;
    margin-top: 50px;
    gap: 20px;
    padding-top: 20px;
}

.tec-div p {
    font-size: 20px;
    color: #aaa;
}

.tec-item {
    display: grid;
    gap: 20px;
}

.tec-item h3 {
    color: #ccc;
    font-size: 20px;
}

.tec-item p {
    font-size: 16px;
}

.img-responsiva {
    max-width: 100%;
    object-fit: cover;
    object-position: left;
}

@media (max-width: 800px) {
    .img-responsiva {
        display: none;
    }
    .tec-bg {
        box-shadow: none;
    }
    .tec {
        grid-template-columns: 1fr;
    }
    .tec-conteudo {
        margin-top: 0px;
    }
    .tec-conteudo > h2 {
        font-size: 32px;
    }
    .tec-conteudo > p {
        font-size: 20px;
        line-height: 1.2;
    }
    .tec-div {
        padding-bottom: 100px;
    }
    .tec-conteudo a {
        font-size: 20px;
    }
}