article h1 {
    font-size: 64px;
    padding: 0px 20px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.bicicletas-lista {
    padding-top: 0px;
    padding-bottom: 120px;
}

.bicicletas-lista ul {
    display: flex;
    padding: 0 20px;
}

.modelos-item img {
    max-width: 30%;
    box-sizing: border-box;
    margin: 10px;
}